body{
    background-color: #F7F7F7;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    

}
#imagemcartao{
    width:128px;
}

body form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #EDF5F1;
    padding: 32px;
}

body form input, body form select{
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #DCFCEE;
}
body form #submit{
    background-color: #2FB170;

}